@media(max-width: 767px) {
	.formCell {
		display: table-cell;
		vertical-align: middle !important;
	}
}

#contentContainer .thin{
	border: 20px solid #000000;
	display: none !important;
}
#contentContainer{
	border: 20px solid #000000;
}

